@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); 

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Roboto", sans-serif;
}
.Mark{
   
    display: flex;
    height: 80px;
    justify-content: space-between;
    background-color: brown;
    align-items: center;
    color: aliceblue;
    padding: 0 20px;
    font-size: large;
    -webkit-box-shadow: 5px 6px 37px 5px #000000; 
box-shadow: 5px 6px 37px 5px #000000;
}
.sidebarsection{
    border: 1px solid red;
    width: 100%;
    max-width: 15%;
    height: 93vh;
    background-color:aliceblue;
}
.sidebarsection ul li {
    list-style: none;
    margin-bottom: 20px;
    font-size: medium;
    cursor: pointer;
}
.section{
    display: flex;
}

.Loginsection{
    border: 1px solid;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authform{
    width: 100%;
    max-width: 400px;
    border: 1px solid red;
    margin-top: -100px;
}
